<ul *ngIf="isLoaded">
  <li
    *ngFor="let item of items$ | async"
    [class.disabled]="item.stock <= 0"
    [class.active]="(value$ | async)?.name === item.name"
    (click)="selectItem(item)"
    [title]="item.label"
  >
    <img [src]="item.icon" [alt]="item.alt" />
    <h3>
      {{ item.label }}<small>{{ printDescription(item) }}</small>
    </h3>
    <app-button
      [disabled]="item.stock > 0 ? '' : 'disabled'"
      (click)="remove(item); $event.preventDefault()"
      (focused)="selectItem(item)"
      name="less"
      class="circle"
    >
    </app-button>
    <input
      [max]="item.stock"
      [disabled]="item.stock > 0 ? '' : 'disabled'"
      [value]="item.inCart ? item.inCart : 0"
      (focus)="selectItem(item)"
      type="number"
    />
    <app-button
      [disabled]="item.stock > 0 ? '' : 'disabled'"
      (click)="add(item); $event.preventDefault()"
      (focused)="selectItem(item)"
      name="more"
      class="circle"
    >
    </app-button>
  </li>
</ul>

<app-list-suspense *ngIf="!isLoaded"></app-list-suspense>
