@import "bourbon";

@mixin states {
  &:not(:last-child) {
    margin-bottom: var(--gutter);
  }

  &:hover {
    cursor: pointer;
  }

  &:focus-within {
    box-shadow: 0 0 0 3px var(--color-primary);
    border-color: var(--color-white);

    &::ng-deep button {
      background-color: var(--color-primary);
      transition: all 0.3s ease-in-out;
    }
  }

  // --
  // class based states

  &.primary {
    border-color: var(--color-primary);

    &::ng-deep button {
      background-color: var(--color-primary);
    }
  }

  &.disabled {
    opacity: 0.5;

    &:hover {
      cursor: not-allowed;
    }
  }

  &.active:not(:focus) {
    border-color: var(--color-primary);
  }
}

@mixin input-quantity {
  > input {
    width: 40px;
    height: 45px;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-secondary);
    margin: auto;
    text-align: center;
    outline: none;

    // hide arrows
    &[type="number"],
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: textfield;
    }

    &[disabled]:hover {
      cursor: not-allowed;
    }
  }
}

@mixin buttons-quantity {
  > .more,
  > .less {
    span {
      @include hide-visually;
    }
  }
}

@mixin label {
  > h3 {
    padding: 0 var(--gutter-md);
    font-weight: 500;
    font-size: var(--h3-size);

    small {
      display: block;
      font-weight: 300;
      font-size: var(--h3-small);
      margin-top: 5px;
    }
  }
}

@mixin icon {
  > img {
    margin: auto;
    width: 60px;
  }
}

// --
// Definition

:host {
  // reset
  > ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  > ul > li {
    //
    @include states;

    border: 2px solid var(--color-secondary);
    border-radius: var(--border-radius);
    background-color: var(--color-white);

    display: grid;
    grid-template-areas:
      "image title actions"
      "image price actions";
    grid-template-columns: var(--width-icon) auto 50px 70px 50px;
    grid-template-rows: 120px;
    padding: 0 var(--gutter-md);

    transition: all 0.3s ease-in-out;

    > * {
      margin: auto 0;
    }

    // --
    // elements

    @include icon;
    @include label;
    @include input-quantity;
    @include buttons-quantity;
  }
}
