<ul>
  <li *ngFor="let i of [0, 1, 2]">
    <article>
      <span class="img"></span>
      <h3><span></span><small></small></h3>
      <span class="less circle"></span>
      <input type="number" />
      <span class="less circle"></span>
    </article>
  </li>
</ul>
