@import "bourbon";

@keyframes blink {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.3;
  }
  85% {
    opacity: 0.55;
  }
  100% {
    opacity: 1;
  }
}

@mixin animation {
  animation: blink 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

:host {
  // reset
  > ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  > ul > li {
    //
    // --
    // native states

    &:not(:last-child) {
      margin-bottom: var(--gutter);
    }

    &:nth-child(2) {
      opacity: 0.5;
    }

    &:nth-child(3) {
      opacity: 0.2;
    }

    &:hover {
      cursor: default;
    }

    // --
    // layout

    > article {
      display: grid;
      grid-template-areas:
        "image title actions"
        "image price actions";
      grid-template-columns: var(--width-icon) auto 50px 70px 50px;
      grid-template-rows: 120px;

      padding: 0 var(--gutter-md);
      border-radius: var(--border-radius);
      border: 2px solid var(--color-secondary);

      @include animation;

      > * {
        margin: auto 0;
      }
    }

    // --
    // elements

    > article > .img {
      margin: auto;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      background: var(--color-secondary);
      opacity: 0.65;
    }

    > article > h3 {
      margin-left: var(--gutter-md);

      span {
        height: var(--h3-size);
        width: 72%;
        background: var(--color-secondary);
        border-radius: var(--border-radius-sm);
        display: block;
        margin-bottom: var(--gutter-sm);
      }

      small {
        display: block;
        height: var(--h3-small);
        background: var(--color-secondary);
        width: 81%;
        border-radius: var(--border-radius-sm);
        opacity: 0.75;
      }
    }

    > article input {
      width: 40px;
      height: 45px;
      border-radius: var(--border-radius);
      border: 1px solid var(--color-secondary);
      margin: auto;
      text-align: center;
      opacity: 0.8;
    }

    > article .more,
    > article .less {
      border-radius: 100%;
      height: 35px;
      width: 35px;
      background: var(--color-secondary);
      opacity: 0.75;
      margin: auto;
    }
  }
}
