<main>
  <header role="heading">
    <h1><app-site-logo></app-site-logo></h1>
    <h2><app-tag-line></app-tag-line></h2>
  </header>

  <form class="content" role="content" (submit)="$event.preventDefault()">
    <app-button
      [disabled]="(amount$ | async) <= 0"
      (click)="navigateToCart()"
      class="checkout round border"
    >
      <ng-template [ngIf]="(amount$ | async) <= 0">
        Put a product to your cart
      </ng-template>
      <ng-template [ngIf]="(amount$ | async) > 0">
        Checkout, <strong>{{ (amount$ | async).toFixed(2) }}$</strong>
      </ng-template>
    </app-button>

    <app-list
      [isLoaded]="isLoaded"
      [items$]="products$"
      [value$]="activeProduct$"
      (selected)="productSelected($event)"
      (more)="addToCart($event)"
      (less)="removeFromCart($event)"
    >
    </app-list>

    <router-outlet></router-outlet>
  </form>

  <footer>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius vel
      massa vel auctor. Sed iaculis diam in neque consequat eleifend.
      Pellentesque consectetur libero viverra erat commodo
    </p>
  </footer>
</main>

<aside>
  <img
    *ngIf="(activeProduct$ | async)?.picture"
    [class.loaded]="displayPicture"
    [src]="(activeProduct$ | async)?.picture"
    [title]="(activeProduct$ | async)?.alt"
    [alt]="(activeProduct$ | async)?.alt"
    (load)="displayPicture = true"
  />
</aside>
