@import "bourbon";

@mixin header {
  header {
    max-width: 400px; // let's make it smaller
    margin: 0 auto;
    margin: auto;
    width: 100%;
    text-align: center;
  }
}

@mixin footer {
  footer {
    padding: var(--gutter) 0;
    background: #f1f3f0;
    text-align: left;

    p {
      width: 100%;
      padding-right: var(--gutter);
      padding-left: var(--gutter);
      margin: 0 auto;
      max-width: var(--max-width-inner);
    }
  }
}

@mixin form {
  form {
    max-width: var(--max-width-inner);
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--gutter);
    display: grid;
    grid-template-rows: 150px auto;
  }
}

// --
// Definition

:host {
  position: relative;
  z-index: 1;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: minmax(var(--max-width-content), 35vw) auto;

  // --
  // structure

  main {
    display: grid;
    grid-template-rows: min-content auto min-content;

    @include header;
    @include footer;
    @include form;
  }

  aside {
    overflow: hidden;

    > img {
      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;
      transition: opacity 0.3s ease-in;
      opacity: 0;

      &.loaded {
        opacity: 1;
      }
    }
  }

  // --
  // elements

  .checkout {
    margin: auto;
  }
}
