// manage fonts

@include font-face(
  "Roboto",
  "assets/fonts/roboto/Roboto-Light",
  ("woff2", "woff")
) {
  font-style: normal;
  font-weight: 300;
}

@include font-face(
  "Roboto",
  "assets/fonts/roboto/Roboto-Medium",
  ("woff2", "woff")
) {
  font-style: normal;
  font-weight: 500;
}
