// manages styles variables
// use CSS variables would give your more control later on
// use SCSS variables gives more flexibility during the build time

:root {
  --gutter-sm: 0.8rem;
  --gutter-md: 1.6rem;
  --gutter: 1rem;

  --font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  --font-size-md: 1.5rem;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;

  --color-white: #ffffff;
  --color-white-transparent: rgba(255, 255, 255, 0.95);
  --color-black: #000000;
  --color-secondary: #b3b3b3;
  --color-primary: #52a500;
  --color-tertiary: #f1f3f0;

  --border-radius: 10px;
  --border-radius-sm: 5px;

  --h3-size: 1.5rem;
  --h3-small: 1.2rem;

  --line-height-md: 2.5rem;

  --width-icon: 60px;
  --width-icon-md: 40px;

  --max-width-content: 620px;
  --max-width-inner: 550px;
}
