@import "bourbon";

:host {
  button {
    border: 2px solid transparent;
    border-radius: var(--border-radius-sm);
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: var(--gutter-sm) var(--gutter-md);
    outline: none;
    transition: all 0.3s ease-in-out;
  }

  // --
  // state

  > button:hover {
    cursor: pointer;
  }

  > button:focus {
    box-shadow: 0 0 0 3px var(--color-primary);
    border-color: var(--color-white) !important;
  }

  > button[disabled],
  > button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

  // --
  // attributes

  &.secondary > button:hover {
    cursor: pointer;
  }

  &.secondary > button[disabled]:hover {
    cursor: not-allowed;
  }

  &.secondary > button {
    background-color: var(--color-secondary);
  }

  &.primary > button {
    background-color: var(--color-primary);
  }

  &.round > button {
    border-radius: 100px;
  }

  &.circle > button {
    border-radius: 100px;
    height: 47px;
    width: 47px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  &.border > button {
    background-color: transparent;
    border-color: var(--color-secondary);
    color: var(--color-black);
  }

  &.md > button {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
  }

  button > span {
    @include hide-visually;
  }
}
