<button
  [ngSwitch]="name"
  [class]="name"
  [tabIndex]="tabIndex"
  [disabled]="disabled"
  (focus)="hasFocused()"
>
  <ng-template [ngSwitchCase]="'more'"> +<span>More</span> </ng-template>
  <ng-template [ngSwitchCase]="'less'"> -<span>Less</span> </ng-template>

  <ng-template ngSwitchDefault>
    <ng-content></ng-content>
  </ng-template>
</button>
