@mixin header {
  > header {
    display: grid;
    padding: var(--gutter-md);
    padding-bottom: 0;
  }
}

@mixin footer {
  > footer {
    display: grid;
    background-color: var(--color-tertiary);

    > * {
      margin: auto;
    }
  }
}

@mixin main {
  > main {
    padding: var(--gutter-md);
    padding-bottom: 0;

    &.empty {
      margin: auto;
      text-align: center;

      a {
        display: block;
      }
    }
  }
}

:host > div {
  // It sounds better to use the animation provided
  // by Angular, to animate properly the DOM elements
  // This hack does the job
  transition: opacity 0.3s ease-in;
  opacity: 0;
  &.mounted {
    opacity: 1;
  }

  z-index: 9;
  position: fixed;
  display: grid;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-white-transparent);

  > section {
    display: grid;
    grid-template-rows: 120px auto 150px;

    margin: auto;
    width: 100%;
    max-width: var(--max-width-content);
    min-height: 700px;

    background-color: var(--color-white);
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.19);

    @include header;
    @include main;
    @include footer;
  }

  // --
  // Elements

  header > .logo {
    width: 100%;
    text-align: center;
    display: block;
    height: 60px;
    padding: var(--gutter) 0;
  }

  header > .close {
    margin-left: auto;
    display: grid;
    right: 0;

    &::ng-deep button {
      display: grid;
      height: var(--width-icon-md);
      width: var(--width-icon-md);
      padding: 0;

      > img {
        margin: auto;
      }
    }
  }

  main > .shipping,
  main > .total {
    line-height: 80px;
    margin: 0;
  }

  main > .total {
    text-align: right;
  }

  main > .continue {
    text-align: center;
    line-height: var(--line-height-md);

    a {
      display: block;
    }
  }
}
