<div [class.mounted]="isMounted">
  <section>
    <header>
      <app-button (click)="close(); $event.preventDefault()" class="round border close" title="Close cart">
        <img src="assets/icons/time.svg" alt="Close icon" title="Close cart" />
      </app-button>
      <app-site-logo class="logo"></app-site-logo>
    </header>
    <main *ngIf="isLoaded && (products$ | async)?.length > 0">
      <h3>Your cart</h3>
      <app-list
        *ngIf="(products$ | async)?.length > 0"
        [isLoaded]="isLoaded"
        [items$]="products$"
        (more)="addToCart($event)"
        (less)="removeFromCart($event)"
      >
      </app-list>
      <p class="shipping">Shipping fees included. <strong>One day</strong> delivery in HCMC.</p>
      <h2 class="total">
        Total of <strong>{{ (amount$ | async).toFixed(2) }}$</strong>
      </h2>
      <p class="continue">
        <a [routerLink]="['', { outlets: { modal: null } }]">
          Get other products
        </a>
        Or
      </p>
    </main>
    <main *ngIf="(products$ | async)?.length === 0" class="empty">
      <h2>
        Fill your cart with some of our product
        <a [routerLink]="['', { outlets: { modal: null } }]">
          Get other products
        </a>
      </h2>
    </main>
    <footer>
      <app-button class="primary md">Let's pay</app-button>
    </footer>
  </section>
</div>
